/* Store all your css for banners in here*/
#banner{

}

#banner img{
}

#banner p{
}

#banner-left{
	height: 130px;
	width: 100%;
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	vertical-align: middle;
}

#banner-right{
  position: absolute;
  top: 25%;
  left: 50%;
}

#banner-left img{
}

#banner-right img{
}



/* You get the idea */
/* If you want to change the divs or elements just go back to the template file */
